<html>
    <header>        
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="../Javascript/horas/jsonHoras.js"></script> 
               
    </header>

  <body>
  
    <button onclick="exibeHoras()">functionexibeHoras()</button>
    <button onclick="exibeUsuario()">function exibeUsuario()</button>
    <div>
          <label> Nome: </label> <label name="lblNome" id="lblNome"></label>
          <br>
          <label> Sobrenome: </label> <label name="lblSNome" id="lblSNome"></label>
          <br>
          <label> CPF: </label> <label name="lblDtNasc" id="lblDtNasc"></label>
    </div> 
    
    
    
    <div>

      <table name='tabela' id = 'tabela'>
        <tr>
          <th> Hora Entrada </th>
          <th> Hora Saída </th>
          <th> data Trabalhada </th>
        </tr>
        
      </table>
    </div>

  </body>
</html>