<html>
    <head>
        <script type="text/Javascript" src="../Javascript/admin/admin.js"></script>
        <script type="text/Javascript" src="../Javascript/admin/adminPainel.js"></script>
        <link rel="stylesheet" type="text/css" href="../CSS/admin.css">
    </head>
    <body  onLoad="inicio();">
        <button onClick="exibir();">exibir</button>
        <br><br>
        <div name="menu" id="menu">
            <button onclick="window.location = 'Horas.html' " id="btMenu" name = "btMenu">Horas</button>
            <br>
            <button onclick="window.location = 'AdProjeto.html' " id="btMenu" name = "btMenu">Adicionar Projeto</button>
            <br>
            <button onclick="window.location = 'AdUsuario.html' " id="btMenu" name = "btMenu">Adicionar Usuario</button>
            <br>
            <button onClick="window.location = '../Controller/logoff.php' ">Logoff</button>
        </div>
        <div id="content">

        </div>
    </body>
</html>